
.home {
  width: 100%;
  padding: 1rem;
}

/* ===================== */
/* Buscador */
/* ===================== */
.home .search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.home .search-input {
  width: 70%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

