.nosotros-container{
display:flex;
max-width:1200px;
margin:auto;
padding:40px 20px;
gap:40px;
}

/* MENU LATERAL */

.nosotros-menu{
width:250px;
border-right:1px solid #ddd;
padding-right:20px;
}


.nosotros-menu h3{
margin-bottom:20px;
}

.nosotros-menu ul{
list-style:none;
padding:0;
margin:0;
}

.nosotros-menu li{
padding:10px 12px;
cursor:pointer;
border-radius:6px;
margin-bottom:6px;
transition:all 0.2s;
}

.nosotros-menu li:hover{
background:#f2f2f2;
}

.nosotros-menu li.active{
background:#e9eef6;
font-weight:600;
}

/* CONTENIDO */

.nosotros-content{
flex:1;
max-width:750px;
}

.nosotros-content h1{
margin-bottom:10px;
}

.separator{
height:1px;
background:#ddd;
margin:15px 0 25px 0;
}

.nosotros-content p{
line-height:1.7;
color:#444;
}