.nosotros-container{
display:flex;
max-width:1200px;
margin:auto;
padding:40px 20px;
gap:40px;
}

/* MENU LATERAL */

.nosotros-menu{
width:250px;
border-right:1px solid #ddd;
padding-right:20px;
}


.nosotros-menu h3{
margin-bottom:20px;
}

.nosotros-menu ul{
list-style:none;
padding:0;
margin:0;
}

.nosotros-menu li{
padding:10px 12px;
cursor:pointer;
border-radius:6px;
margin-bottom:6px;
transition:all 0.2s;
}

.nosotros-menu li:hover{
background:#f2f2f2;
}

.nosotros-menu li.active{
background:#e9eef6;
font-weight:600;
}

/* CONTENIDO */

.nosotros-content {
  flex: 1; /* O el ancho que le hayas dado */
  padding: 20px;
  max-width: 100%; /* Evita que crezca más que su padre */
  overflow-wrap: break-word; /* Rompe palabras muy largas si es necesario */
  box-sizing: border-box; /* Asegura que el padding no sume ancho extra */
}
.nosotros-content h1{
margin-bottom:10px;
}

.content-image {
  max-width: 100%; /* Nunca se pasará del borde */
  height: auto;    /* Mantiene la proporción */
  display: block;  /* Evita espacios extra abajo */
  margin: 20px 0;  /* Centrado vertical */
  border-radius: 8px;
}
.text-paragraph {
  white-space: pre-line;
  width: 100%;
  text-align: justify; /* Alinea al límite derecho e izquierdo */
  line-height: 1.6;
  margin-bottom: 1.5rem;
}
.separator{
height:1px;
background:#ddd;
margin:15px 0 25px 0;
}

.nosotros-content p{
line-height:1.7;
color:#444;
}


.table-container {
  overflow-x: auto; /* Permite scroll horizontal en móviles */
  margin: 25px 0;
}

.nosotros-table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.9rem;
}

.nosotros-table th {
  background-color: #f4f4f4;
  color: #333;
  text-align: left;
  padding: 12px;
  border: 1px solid #ddd;
}

.nosotros-table td {
  padding: 10px;
  border: 1px solid #ddd;
  vertical-align: top;
}

/* Color intercalado para las filas */
.nosotros-table tr:nth-child(even) {
  background-color: #fafafa;
}