:root {
  --font-scale: 1;

  --bg-color: #fafafa;
  --text-color: #000000;
  --heading-color: #000000;
  --link-color: #1565c0;

  --font-body: "Roboto", Arial, sans-serif;
}

/* Reset básico */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: calc(100% * var(--font-scale));
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-body);
}

/* elementos para modo alto contraste */
html.high-contrast {
  --bg-color: #000000;
  --text-color: #ffffff;
  --heading-color: #ffff00;
  --link-color: #00ffff;
}